.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/ci2_test1.sublime-project
/ci2_test1.sublime-workspace
